<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>It's <%= @assignee.name %>'s turn!</h1>
    <% if @selected_picture %>
      <p> <img src="<%= @selected_picture.url %>"/>
    <% end %>
    </p>
    <p>This message was sent by the MediaMath Product Triage Emailer. Check it out here: <a href="/participants">Participant List</a></p>
  </body>
</html>